body{
    background-color: aquamarine;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.react{
    margin:10px;
}
.nodejs-donut{
    margin-top:5px;
}
.react-p, .nodejs-p{
    font-size: 1.2rem;
    font-family: monospace;
    text-align:left;
    margin:10px;
    width:45vw;
}
   
    .skill-f-a{
        display:grid;
        grid-template-columns: 45vw 45vw;
        gap:5px;
        background-color: red;
    
    }
/* project list  */
.project-img{
    max-width:400px;
    width:100%;
    height:400px;
    padding:10px;
    border-radius:20px;
    margin:0;
}
.project-scroll{
    text-align: center;
    margin:0;
}
.project-mid,.r-u-p{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.project-button{
    background-color: blueviolet;
    height:360px;
    margin:0;
    padding:10px;
    margin-top:50px;
    text-align: center;
    padding-top:100px;

    border-radius:12px;
}
.project-button:hover{
    background-color: blue;
    color:white;
    cursor: pointer;
} 

/* contact */
.contact-img{
    max-width:50px;
    width:100%;
    border-radius: 12px;
    display:block;
}
.contact-main{
    display:flex;
    justify-content: space-around;
    gap:10px;
}
.contact-d{
    width:50vw;
}
.contact-d {
    
    max-width:110px;
    width:100%;
    font-size:1.5rem;
    font-family: cursive;
    text-align: center;
}
.r-contact{
    margin-top:50px;
    
}
.r-i-contact{
    display:flex;
    gap:10px;
    justify-content: center;
}

.mid-c{
    width: 100%;
    text-align: center;
    text-decoration: whitesmoke underline;
}
a{
    text-decoration: none;
}
/* about */
.about-img{
   max-width:400px;
   width:100%;
    margin:10px;
    border-radius: 12px;
    float:left;
}
.bio{
    text-align:justify;
    height:500px;
}
/* resume */
.resume-i{
    max-width:400px;
    width:100%;
    display:block;
}
.resume-p{
    display:block;
    max-width:400px;
    width:100%;
    padding:10px;
    background-color: chocolate;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    color:blanchedalmond;
}
.resume-p:hover{
    background-color: rgb(210, 30, 30);
}
.mid-r{
    display:flex;
    justify-content: center;
    align-items: center;
}
.gmail-logo{
    display:flex;
    margin-top: 10px;
    justify-content: center;
}
@media screen and (max-width:414px) {
    .about-img{
        margin:0;
    }
  

}