*{
    box-sizing: border-box;
}
.nav-layout{
    display:flex;
    flex-direction: row;
    text-wrap:nowrap;
    margin-bottom:20px;
    background-color:rgba(7, 7, 7, 0.644);
    border-radius: 12px;
    top:0;
    position:sticky;
    z-index: 100;
}
.nav-layout p{
    font-size: 1.5rem;
    margin-left:2vw;
    margin-right:auto;
    font-weight: 900;
    color:aliceblue;

}
.in-nav-layout{
    display:flex;
    margin-left:auto;
    padding:10px 20px;
    gap:1vw;
}
.in-nav-layout a{
    text-decoration: none;
    background-color: rgba(107, 98, 98, 0.945);
    margin:0;
    padding:15px;
}
.nav-b{
    min-width:100px;
    border-radius: 12px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 800;
    color:aliceblue;
}
.nav-b:hover{
    color:rgb(195, 190, 196);
    background-color: rgba(231, 68, 68, 0.945);
}
.footer{
    width:auto;
    padding:15px;
    bottom:0;
    position:sticky;
    background-color: rgb(82, 79, 79);
}
.drop-down{
    width:140px;
    text-align: center;
    display:none;
    height:70px;
    background-color: aliceblue;
    border-radius: 12px;
    font-weight:900;
    margin-left:auto;
    cursor: pointer;
}
@media  only screen and (max-width: 1088px) {
    .footer{
        background-color: red;
    }
   
    .drop-down{
        display:inline-block;
        padding-top: 25px;
    }
    .in-nav-layout{
        display:none;
        flex-direction:column;
        margin-left:auto;
        padding:0;
        
       
    }
    .nav-layout p{
        margin-right:auto;
    }
}